/* Base Styles */
body {
  color: royalblue;
  text-align: center;
  background-color: bisque;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Typography */

/* Links & Accents */

/* Images */

/* Hero Section */
.hero-img {
  /* display: flex; */
  right: 0;
  left: 0;
  padding: 0;
  /* background-size: auto;  */
  width: 100%;
  height: 200px;
  object-fit: cover
  /* display: block; */
  background-position: center;
  /* background-image: url("images/hero-image.jpg");
  background-repeat: repeat; */ 
  
}

/* Main Content */

/* About Section */

/* Specials Section */
h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.specials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
